body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

p 
{
  font-size: 85%;
  padding: 2vh;
  margin: 0;
}

.btn-parent
{
  position: relative;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1.5vh;
  height: 4vh;
}

.next-btn
{
  float: right;
  border: 0;
  width: 4vh;
  height: 4vh;
  border-radius: 60%;
  font-size: 120%;
}

.prev-btn
{
  float: left;
  border: 0;
  width: 4vh;
  height: 4vh;
  border-radius: 60%;
  font-size: 120%;
}

#main-point3
{
  width: 35vw;
}

.textbox
{
  font-size: 150%;
  width: 15vw;
  background-color: #003D29;
  color: #F9F1E6;
  position: fixed;
  margin-left: auto;
  right: 0px;
}

#fps
{
  z-index: 2;
}

#learn-more-btn 
{
  background-color: #003D29;
  color: #F9F1E6;
  border: 0;
  font-size: 120%;
  height: 100%;
  width: 100%;
  padding: 2vh;
  margin: 0;
  position: relative;
}

#main-point1
{
  bottom: 60vh;
  left: 11vw;
  margin-left: 0px;
  z-index: 2;
}

#learn-more
{
  position: fixed;
  opacity: 0;
  z-index: 2;
}

.banner-point
{
  bottom: 115vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1vh;
  font-size: 250%;
  width: 30vw;
  color: #003D29;
  text-align: center;
}

#main-point4
{
  color: #F9F1E6;

}

#extra-fact1-1
{
  top: 115vh;
  position: fixed;
  opacity: 1;
}

#extra-fact1-2
{
  top: 115vh;
  position: fixed;
  opacity: 1;
}


#extra-fact2
{
  top: 115vh;
  position: fixed;
  opacity: 1.0;
}

.container
{
  height: 1200vh;
  position: relative;
}

#fps
{
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

#arrow-container
{
  padding-top: 5%;
}

.arrow 
{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6%;
}

.right 
{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
